# Virtual Environment
venv/

# Python
__pycache__/
*.pyc

# Environment
.env

# Dataset
dataset/

# Uploaded Images
uploads/


# VS Code
.vscode/

# SQLite Database
*.db

# Jupyter
.ipynb_checkpoints/